@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
	font-family: 'Poppins', sans-serif;
}

.top{
    width: 100%;
    height: 100vh;
	background-color: rgba(0,0,0,0.8);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:#4070f4;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.6s;

}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

}
.content h1{
    margin-top: 80px;
    font-size: 70px;
}
button{
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
    border: none;
    color: #fff;
    font-size: 30px;
    font-weight: 5000;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
     background-color: #265df2;
}
.footer{
    padding: 20px 9%;
    text-transform: capitalize;
    transition: 0.2s linear;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align:center;

}
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.footer .box-container .box{
    flex:1 1 250px;

}

.footer .box-container .box h3{
   color: #333;
   font-size: 25px;
   padding: 10px 0;
    
}
.footer .box-container .box a {
    display: block;
    color:#666;
    font-size: 15px;
    padding: 10px 0;
	text-decoration:none;
     
 }
 .footer .box-container .box a:hover {
    text-decoration: underline;
    color:#e84393;
   
 }

h2 {
  color: rgba(51,51,51,255);
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
  text-align:center;
}

.gallery {
    background:#1da9c0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 64px;

}

.thumbnail {
    border: solid 3px rgba(51,51,51,255);
    border-radius: 15px;
    box-shadow: 0 0 48px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin: 32px;
    max-height: 200px;
    max-width: 300px;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.3s;
}

.thumbnail:hover {
    transform: scale(1.2);
}

.thumbnail img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
}

.container2{
    max-width: 500px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

.container2 .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;

}


.container2 .form{
    width: 50%;
    margin-left:20px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container2.active .login{
    margin-left: -50%;
    opacity: 0;

}

.container2 .signup{
    opacity: 0;

}
.container2.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container2.active .forms{
    height: 600px;
}
.container2 .form .title{
    font-size: 27px;
    font-weight: 600;
}
.form .input-field{
    position: relative;
    height: 50px;
    width: 80%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #4070f4;
}

.form .text{
    color: #333;
    font-size: 14px;
    margin-right:50px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
    margin-right:50px;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
    margin-left:20px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #265df2;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
    
}
.gallery {
    background: linear-gradient(
        60deg,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.5)
    );
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 64px;
}
.cialo{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
}

section {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container1 {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 50px;
  text-align: center;
}

.section-header h2 {
  color: #FFF;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 20px;
}

.section-header p {
  color: #FFF;
}

.row  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: #1da9c0;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: #FFF;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
  
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
 border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-form .input-box input[type="submit"]:hover
{
    background-color: #265df2;
}

@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}
